:root{
  --basesize: 1rem;
  --bigsize : calc(4vw + 2vh + .5vmin); 
  --mediumsize: calc(var(--bigsize) / 2);
  --introsize: 1.5em;
  --smallsize : 1rem;
  --tinysize: .813rem;
  --delay: 10ms;
  --indent : 6rem;
  --margin: var(--bigsize); 
  // 
  --margintop: 1vw;
  --marginright: 2.5vw;
  --marginleft: calc(var(--bigsize) * 3);
  --marginbottom: var(--bigsize);
  --text-max-width: 45rem;
  
  --background-color: #f7f7f7;
  --text-color: #1a1a1a;
  --mark-background: LightGoldenRodYellow;
  // --accentcolor: Chartreuse;
  --accentcolor: deepPink;
}


@media (min-width:1300px){
  :root{
    --bigsize : 4.2rem
  }
}

@media (max-width:1400px){
  :root{
    --introsize:1.25em;
  }
}


@media (max-width:850px){
  :root{
    // --mediumsize: var(--bigsize);
    --margin: calc( var(--bigsize) + var(--mediumsize) );
  }
}

@media (max-width:500px){
  :root{
     --marginleft: calc(var(--bigsize) * 2);
    --basesize: .85rem;
    --indent: 2rem
  }
}


@media (max-width:640px) {
  :root {
    --margintop: 7.25vw;
    --marginright: 9.5vw;
  }
}