// @Layout Rules: define the layout styles for all the major components of the project.
// @example:
//   "header"
//   "footer"
//   "sidebar"
//   etc.

@import "home.scss";
@import "list.scss";
@import "article.scss";



main, #nav, #footer  {
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left); 
}

#nav + #footer{
  margin-top: calc(-1 * var(--margin-bottom) + 1em);
}

#connector {
  z-index: -1;
  pointer-events: none;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}