.article article {
  padding-bottom: .1px;
}
.article-header{
  margin-bottom: 2em;
}

.article-title{
  font-family: var(--basefamily);
  font-variation-settings: 'opsz' 60;
  padding-right: calc(var(--bigsize) * 4);
  line-height: 1.1;
  max-width: 32ch;
  font-size:var(--bigsize); 
}
.article-meta, .tags{
  
  color: #444;
  font-size: var(--tinysize);
  display: flex;
  flex-wrap: wrap;
  *:not(:last-child){
    margin-right: .75em;
  }
  a { @extend .underlink;}
}

.tags{
  margin-top: 2em;
}
.article-introduction {
  font-size: var(--introsize);
  max-width: calc(65ch / 1.5);
  @media(max-width: 1400px){
    max-width:calc(65ch / 1.25);
  }
  margin-bottom: 1em;
  line-height: 1.25;  
}

.link-url {
  margin: 1.5em 0;
  a {
  //  background: white;
   line-height: 2.5;
   border-radius: 2em;
   border: 1px solid #999;
   padding: 1em 2.5em;
   text-shadow: none;
   box-decoration-break: clone;
   &:focus, &:hover{ background: none; background-color: var(--accentcolor); color: currentColor !important;}
   &::before{
     content: "→ ";
   }
  }
}
.article-text {
  line-height: 1.5;
  h2, h3, h4 {
    margin-top: 1em;
  }
  h4 {margin-bottom: 0;}
  p + p,
  blockquote + p {
    text-indent: var(--indent);
  }
  p.comment {
    text-indent: 0;
    .author {
      white-space: nowrap;
      position: relative;
      text-indent: 0;
      width: var(--indent);
      overflow: hidden;
      padding-left: var(--indent);
      &::before{
        content:"⍩ ";
        position: absolute;
        left: 0;
      }
    }
  }
  .pullquote{
    max-width: calc(var(--text-max-width) + var(--indent));
  }
  blockquote {
    margin: 1em 0;
    padding-left: var(--indent);
    font-style: italic;
    em, i { font-style: normal;}
  }
  a:not(.media-link) {
    @extend .underlink;
  }
  ul {
    @extend .puces;
    padding-left: var(--indent);
  }
  .initials {
    font-variant: all-small-caps;
  }
  .question {
    max-width: calc(var(--text-max-width) );
    padding-left: var(--indent);
    color: blue;
    & + .question { margin-top: 0;}
  }
  .answer + .question {
    margin-top: 1em;
  }
  .answer + .answer {
    p:first-child { text-indent: var(--indent); }
    .initials {display: none;}
  }
}

figure.video {
  padding:56.25% 0 0 0;
  position:relative;
  margin: 1em 0;
  border:0;
  > * {
    position:absolute;top:0;left:0;width:100%;height:100%;
    border:0;
  }
}

sup.footnote {
  top: -0.25em;
  a {
    margin: 0 0.05em 0 .15em;
    background: none;
    border-bottom: 1px solid #000;
    // display: inline-block;
    line-height: calc(1.25em - 1px);
    &:hover {background: none}
  }
}         /* Footnote reference within text */
.footnotes-container {
  margin-top: 3em;
  font-size: var(--tinysize);
  padding-left: var(--indent);
  max-width: calc(var(--text-max-width) - var(--indent));
  &::before {
    content: "";
    display: block;
    width: var(--indent);
    border-bottom: 1px solid #000;
    margin-bottom: 2em;
  }
}
.footnotes-list {
  padding: 0;
  list-style-position: inside;
} 
.footnotes-list li {}   /* Footnote entry */
.footnotereverse a{
  background: none;
} 

#comments {
  margin-top: 2rem;
}

.media-link{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 14px;
  height: 16px;
  text-indent: 4em;
  background: url(../images/img.png) no-repeat;
  background-size: cover;
  margin: 0;
  // vertical-align: middle;
  position: relative;
  top: .1em;
  transition: all 150ms ;
  &:hover { 
    // transform: rotate(360deg);
  }
}
.media-link + span.media-caption { display: none;}
.media-container{
    margin: 1em 0 2em;
    max-width: var(--text-max-width);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      @extend .bigbutton;
      padding: 1em 1.25em;
    }
    img { display: block; margin: 0 0 .5em;}
    figcaption {
      font-size: var(--tinysize);
      margin: .5em 0 -.5em;
      color: #666;
      width: 100%;
      padding-left: var(--indent);
      display: flex;
      justify-content: space-between;
      :first-child {padding-right: 1em;}
    }
}