.article-header{
  margin-bottom: 2em;
}

.article-title{
  font-family: var(--basefamily);
  font-variation-settings: 'opsz' 60;
  line-height: 1.1;
  max-width: 32ch;
  font-size:calc( var(--mediumsize) * 1.5); 
}
.article-meta, .tags{
  color: #444;
  font-size: .85em;
  display: flex;
  flex-wrap: wrap;
  *:not(:last-child){
    margin-right: .75em;
  }
  a { @extend .underlink;}
}

.tags{
  margin-top: 2em;
}
.article-introduction {
  font-size: var(--introsize);
  max-width: calc(65ch / 1.5);
  @media(max-width: 1400px){
    max-width:calc(65ch / 1.25);
  }
  margin-bottom: 1em;
  line-height: 1.25;  
}

.article-text {
  line-height: 1.45;
  p + p,
  blockquote + p {
    text-indent: var(--indent);
  }
  blockquote {
    margin: 1em 0;
    font-size: var(--introsize);
    padding-left: var(--indent);
    font-style: italic;
    em, i { font-style: normal;}
  }
  a {
    @extend .underlink;
  }
  ul {
    @extend .puces;
  }
  .initials {
    font-variant: all-small-caps;
  }
  .question {
    padding-left: var(--indent);
  }
  .answer + .question {
    margin-top: 1em;
  }
}