html{
  height: 100%;
}
body{
  min-height: 100%;
}
[data-template="home"]{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  
  // .under {
  //   left: var( --marginleft);
  //   top: 3vw
  // }
}

.splash{
  position: absolute;
  z-index: -1;
  filter: grayscale(1);
  mix-blend-mode: overlay;
  display: none;
}
#rwdcanvas{
  position: fixed;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: multiply;
  top:0;left:0;
}