
.list {
  --padding-left:calc(var(--indent) * 1.5);
  padding-left: var(--padding-left);
  margin-bottom: 2.5em;
  @media (max-width:850px){ padding-left: 0; }
  position: relative;
  h2 {
    font-size: 1em;
    position: absolute;
    @media (max-width:850px){ position: static; margin-bottom: 1em; font-size: calc(var(--bigsize) / 1.15); }
    left: 0;
    top: 0;
    margin: 0;
  }
  article {
    margin-bottom: 1.5em;
  }
  a:not(.button){
    @extend .underlink;
  }
  header {
    max-width: var(--text-max-width);
    display: flex;
    justify-content: space-between;
  }
    
  h3 {
    font-weight: 650;
  }
  h3, h4 {
    margin: 0; 
    font-size: 1em;
  }  
  &:not(.quotes).pullquote {
    font-size: 1em;
    line-height: revert;
  }
  .lang {
    white-space: nowrap;
    font-size: .75em;
    vertical-align: top;
  }
  .details {
    margin-bottom: .5em;
  }
  &:not(.quotes) .pullquote{
    font-size: 1em;
    line-height: revert;
  }
}

.theme-introduction {
  font-size: 1.5em;
  max-width: calc(var(--text-max-width) + var(--padding-left));
  margin-bottom: 1em;
  line-height: 1.25;
}

.tweets {
  blockquote{font-style: normal;}
}

.quotes {
  blockquote footer {font-style: normal; font-size: var(--basesize); margin-top: .5em;}
}

.details-text{ 
  display: none;
  font-size: var(--smallsize);
  padding-left: var(--indent);  
  p, ul, ol, blockquote { text-indent: 0; max-width: calc(var(--text-max-width) - var(--indent));}
  li { @extend .puces; }
}

.details-figure {
  float: left;
  width: var(--indent);
  margin: .4em .5em 0 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background:#eee;
  position: relative;
  img { 
    max-width: 100%; 
    opacity: .95; 
    display: block; 
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }
}
.list article:hover img {
  filter: grayscale(0);
}

.list-introduction {
  margin-bottom: 2em;
  p + p { text-indent: var(--indent)}
  a { @extend .underlink; }
}

// ------------------------------------------ checkbox actions
.action {
  display: inline-block;
  @extend .button;
  margin-bottom: 1em;
  margin-bottom: 2em;
  span:first-child{ display: inline;}
  span:last-child{ display: none;}
}
article .action {
  margin-bottom: 1em;
}
.action-checkbox {
  display: none;
  &:checked + label {
    span:first-child{ display: none;}
    span:last-child{ display: inline;}
  }
}
// no details
#no-details:checked ~ .list{
  .details { display: none;}
  .show-text-action{ display: none;}
}
// grid display
.links.list,
#display-grid:checked ~ .list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2rem 4rem;
  h2,
  article { margin-bottom: 0;}
  .show-text-action{ display: none;}
}
.show-text-checkbox:checked ~ .details-text{
  display: block;
}


[data-template="notes"],
[data-template="links"],
[data-template="interviews"] {
  .list{ padding-left: 0;}
  h2 { display: none;}
}

a[href="#contribute"] {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}