#credits{ margin: 0 var(--marginright) 1em var( --marginleft);  }
#footer{ margin: 0 var(--marginright) 2.5em var( --marginleft);  }

.footer{
  font-size: .85em;
  color: #444;
  a { @extend .underlink; }
  a:hover { color: black;}
}
