
nav { 
  
  // margin: var(--margin) var(--marginright) 0 var( --marginleft); 
  ul {
    margin-bottom: 1rem;
  }
  .themes {
    max-width: var(--text-max-width);
    max-width: none;
    font-size: var(--mediumsize); 
    padding: 0;
    // padding-right: calc(var(--bigsize) * 4);
    list-style-type: none;
    line-height: 1.2em;
    
    
    a {
      // text-decoration: underline;
      border-bottom: .1em solid #000;
      line-height: .9;
      display: inline-block;
      background: linear-gradient(90deg, rgba(119,6,67,1) 0%, rgba(255,20,147,1) 17%, rgba(105,212,0,1) 100%); 
      background: var(--text-color);
      background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
    }
    a:hover {
      background: linear-gradient(90deg, rgba(119,6,67,1) 0%, rgba(255,20,147,1) 17%, rgba(105,212,0,1) 100%); 
      background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
    }
    .active a{
      // background: url("../images/wavy.svg") repeat-x 0 .775em;
      font-style: italic;
    }

    li:not(:first-child){white-space: nowrap;}
    li:not(:first-child):after {
      content: ', ';
    }

    li:last-child:after {
      content: revert;
    }

    @media (max-width:640px) {
      line-height: 1.45em;
    }

  }

  li { display: inline;}

  


}

.footer-links{
  display: flex;
  li {
    margin-right: .5em;
  }
}
.all {
  
  a { @extend .underlink; }
}
.languages {
  color:#999;
  li:first-child {margin-right: 0;}
  margin-right: .5em;
  text-transform: uppercase;
  a:hover, .active { color: var(--text-color); @extend .underlink; }
}