
nav { 
  
  // margin: var(--margin) var(--margin-right) 0 var(--margin-left); 
  ul {
    margin-bottom: 1rem;
  }
  .themes {
    max-width: var(--text-max-width);
    max-width: none;
    font-size: var(--mediumsize); 
    padding: 0;
    // padding-right: calc(var(--bigsize) * 4);
    list-style-type: none;
    line-height: 1.2em;
    
    a { 
      color: var(--text-color); 
      height: 1.1em;
      @include underlink(1px, var(--text-color), .05em, .075em);
      &:hover{
        color:var(--accentcolor);
        @include underline(var(--accentcolor), .05em, .075em);
      }
    }
    .active a{
      // background: url("../images/wavy.svg") repeat-x 0 .775em;
      font-style: italic;
    }

    li:not(:first-child){white-space: nowrap;}
    li:not(:first-child):after {
      content: ', ';
    }

    li:last-child:after {
      content: revert;
    }


  }

  li { display: inline;}



}

.footer-links{
  display: flex;
  li {
    margin-right: .5em;
  }
}
.all {
  
  a { @extend .underlink; }
}
.languages {
  color:#999;
  li:first-child {margin-right: 0;}
  margin-right: .5em;
  text-transform: uppercase;
  a:hover, .active { color: var(--text-color); @extend .underlink; }
}