
nav { 
  
  // margin: var(--margin) var(--margin-right) 0 var(--margin-left); 
  ul {
    margin-bottom: 1rem;
  }
  .themes {
    max-width: var(--text-max-width);
    max-width: none;
    font-size: var(--mediumsize); 
    padding: 0;
    // padding-right: calc(var(--bigsize) * 4);
    list-style-type: none;
    line-height: 1.2em;
    
    a { 
      color:currentColor; 
      height: 1.1em;
      text-shadow: 
        -2px -2px 0 $background-color, 
        2px -2px 0 $background-color, 
        -2px 2px 0 $background-color, 
        2px 2px 0 $background-color;
        display: inline-block;
      @include underline(black, .05em, .015em);
      &:hover{
        color:var(--accentcolor);
        @include underline(var(--accentcolor), .05em, .015em);
      }
    }
    .active a{
      // background: url("../images/wavy.svg") repeat-x 0 .775em;
      font-style: italic;
    }

    li:not(:first-child){white-space: nowrap;}
    li:not(:first-child):after {
      content: ', ';
    }

    li:last-child:after {
      content: revert;
    }


  }

  li { display: inline;}



}

.all {
  li:not(:last-child){
    margin-right: .5em;
  }
  a { @extend .underlink; }
}
.languages {
  text-transform: uppercase;
  font-family: var(--altfamily);
  a { color: #666}
  a:hover, .active { color: black}
}